<div class="container">
  <div class="header-profile-page">
    <h1><a href="/"> < Contacts</a><h1>
    <form method="post" action="/contact/favorite/<%= @contact.id %>" class="form-for-favorite">
      <input type="hidden" name="_method" value="put">
      <% if @contact.favorite %>
        <input type="image" value=<img src="/images/Favorite-Star/Favorite-true3.png" class="star-profile-page-fav"  alt="star">
      <% else %>
        <input type="image" value=<img src="/images/Favorite-Star(False)/Favorite-False.png" class="star-profile-page-notfav" alt="star">
      <% end %>
    </form>
  </div>
  <div class="profile-img-name-company">
    <% if @contact.large_image.present? %>
      <img src=<%= @contact.large_image %> alt="Contact Image">
    <% else%>
      <img src=/images/User-Large/User-Large2.png alt="No Contact Image">
    <% end %>
    <h2><%= @contact.name %></h2>
    <p><%= @contact.company %></p>
  </div>
  <% if @contact.home_phone.present?
 %>
  <div class="phone">
    <h3>Phone:</h3>
    <h3 class="phone-type"> Home </h3>
      <%= @contact.phone_format(@contact.home_phone) %>
  </div>
  <% end %>
  <% if @contact.mobile_phone.present? %>
    <div class="phone">
      <h3>Phone:</h3>
      <h3 class="phone-type"> Mobile </h3>
        <%=  @contact.phone_format(@contact.mobile_phone) %>
    </div>
  <% end %>
  <% if @contact.work_phone.present? %>
  <div class="phone">
    <h3>Phone:</h3>
    <h3 class="phone-type"> Work </h3>
      <%=  @contact.phone_format(@contact.work_phone) %>
  </div>
  <% end %>
  <% if @contact.street_address.present? %>
  <div class="profile-address">
    <h3>Address:</h3>
    <p><%= @contact.street_address %></p>
    <p><%= @contact.city %>, <%= @contact.state %> <%= @contact.zipcode %>, <%= @contact.country %></p>
  </div >
  <% end %>
  <% if @contact.birthdate.present? %>
  <div class="profile-birthday">
    <h3>Birthday:</h3>
    <p><%= @contact.birthday_format %></p>
  </div>
  <% end %>
  <% if @contact.email.present? %>
  <div class="profile-email">
    <h3>Email:</h3>
    <p><%= @contact.email %></p>
  </div>
  <% end %>
</div>
